body {
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    padding-top: 30vh;
}
.wrapper {
    min-height: 100vh;
}
#about {
    margin-bottom: 1rem;
}
.title {
    
    font-family: 'Raleway', sans-serif;
}
.canvasjs-chart-container {
height: 60%; 
width: 50%;
justify-content: center;
}

.columns {
    height: 100%;
}

h1 {
    font-weight: 600;
    line-height: 150%;
}